%table#calc
  %tr
    %td#work{:colspan => 4}
      %input#formula{:type => "text"}
  %tr
    %td#ac AC
    %td#bs BS
    %td#log LOG
    %td#div /
  %tr
    %td#n7 7
    %td#n8 8
    %td#n9 9
    %td#mul *
  %tr
    %td#n4 4
    %td#n5 5
    %td#n6 6
    %td#sub -
  %tr
    %td#n1 1
    %td#n2 2
    %td#n3 3
    %td#add +
  %tr
    %td#n0 0
    %td#lparen (
    %td#rparen )
    %td#equal =

%div#logs

%script{:src => "/jquery.js"}
%script{:src => "/calc.js"}
