#calc
  td
    width: 2em
    height: 2em
    text-align: center
    border: 1px solid black

  #formula
    width: 100%
    height: 100%
    margin: 0px
    padding: 0px
    border: none
    font-size: 110%
